.card {
  flex: 0 0 99.6%; /* Cada tarjeta ocupa el 80% del ancho del contenedor */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  background-color: lightblue;
  transition: transform 0.2s ease;
  margin: 20px;
}

.card-image img {
  height: 250px; /* Altura fija */
  object-fit: cover; /* Mantiene proporción */
  filter: drop-shadow(5px 12px 15px rgba(0, 0, 255, 0.7));
}

.card-content {
  padding: 10px;
}

.card-content h3 {
  font-size: 1.5em;
  color: #333;
}

.card-content p {
  margin: 5px 0;
  color: #666;
}

@media (max-width: 768px) {

  .card {
    flex: 0 0 97%; /* Cada tarjeta ocupa el 80% del ancho del contenedor */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    background-color: lightblue;
    transition: transform 0.2s ease;
    margin: 20px;
  }
  .card-image img {
    height: 150px; /* Altura fija */
    object-fit: cover; /* Mantiene proporción */
    filter: drop-shadow(5px 12px 15px rgba(0, 0, 255, 0.7));
  }
}
@media (max-width: 480px) {
  .card {
    flex: 0 0 95.5%; /* Cada tarjeta ocupa el 80% del ancho del contenedor */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    background-color: lightblue;
    transition: transform 0.2s ease;
    margin: 20px;
  }
  .card-image img {
    height: 100px; /* Altura fija */
    object-fit: cover; /* Mantiene proporción */
    filter: drop-shadow(5px 12px 15px rgba(0, 0, 255, 0.7));
  }
}